@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans:wght@400;700&display=swap');
/* reset*/
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem sans-serif; 
    font-family: 'Arial', sans-serif;
    font-size: large;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1.6;
}
h1,h2,h3,h4,ul,ol,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    border-style: none;
}
a {
    text-decoration: none;
    text-transform: none;
    color: #fff;

}

/* theme */
html{
    overflow-x: hidden;
}
body{
    background-color: #fff;
}
h1,h2,h3{
    font-family: 'Arial', sans-serif;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
header{
    background-color: #fff;
    padding-top: 15px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 160px repeat(3, 1fr);
    padding-bottom: 3rem;
    
}
header img{
    height: 200px;
    width: 200px;
    margin:auto;
}
header ul {
    padding-left: 10rem;
    margin-top: auto;
    margin-bottom: auto;
    
}
header video{
    background-color: #222;
    padding: 1rem;
    width: 690px;
    height: 400px;
}
header ul li {
    padding: 0;
    margin: 0;

}
header ul li h1{
    font-size:64px;
    height: 110px;
    display: table-cell;
    vertical-align: middle;
    color: #132d53;
    
}
header ul li h2 {
    font-size: 25px;
    font-weight: 200;
    
}
header ul li h2 ul{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    padding-left: 0;
}
.important{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    
}
.important li{
    display: inline-block;
    background-color:  #0ca168;
    border-radius: 15px ;
    color: #fff;
    text-align: center  ;
    margin-bottom: 2rem;
    padding: 1rem;  
    height: 50px;
}
.important .lang a{
    width: 50px;
    display: inline-block;
    text-align: center;
    border: solid 0.1rem;
    margin-right: 20px;
    border-radius: 10px;
}
.important li input[type=text] {
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    border: none;
    height: 30px;
    width: 80%;
    padding: 0.5rem;

}
.important li .fbic{
    height: 30px;
    width: 30px;
    position: relative;
    right: 5px;
    background-color: transparent;
}
.important .ressoc a .sic{
    filter: invert(1);
}
.important .ressoc{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  justify-content:center ;
  align-items: center;
  gap: 30px;
  background-color: #fff;
}
.important .ressoc a{
    background-color: #0ca168;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    margin: auto;
}
.important .ressoc a span, .important .ressoc a img{
    height: 30px;
    width: 30px;
    font-size: 30px;
    position: relative;
    top: 10px;
    background-color: transparent;
}

nav{
    width: 100%;
    font-weight:800;
    color: #fff;
    height: 50px;
    background-color:#3c152a ;
    z-index: 2;
}
nav .options{
    display: flex;
    height: 100%;
    line-height: 50px;
    justify-content: center;
}
nav .options>li {
    cursor: pointer;
    margin: 0 20px;
    flex-shrink: 0;
    width: 300px;
}
nav .options .soutien h3{
    background-color: #133953   ;
    border-radius: 20px;
    height: 90%;
    margin-top: 10px;
}
nav .options li h3{
    height: 100%;
    text-align: center;
}
nav .options li h3 button{
    background-color: #3c152a;
    color: #fff;
    position: relative;
    top: 6.5px;
    height: 30px;
}
nav .options li h3 button span{
    font-size: 30px;
    font-weight: bold;
}
.sous-menu {
    position: relative;
    left: 10%;
    display: none;
    z-index: 1;

}
.sous-menu li {
    list-style-type: none;
    text-align: center;
    background-color:#3c152a;
    border-bottom: 0.5px solid rgb(167,167,167);
    width: 80%;
}
.options li:hover > ul {
    display: block;
}
.sous-menu li:hover {
    filter: saturate(4);
}
main .notnews{
    display: flex;
}
main .more{
    margin: 0 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    height: min-content;
}
section{
    display: inline-block;
    width: 100%;
    color: #fff;
    position: relative;
    border-radius: 20px;
    margin: 1rem 0  ;
    text-align: center;
}
#res{
    background-color: #b65c28;
}
#ass, #news2{
    background-color:#2f690e ;
}
#besoins{
    background-color:#2397ba ;
}
#inf{
    background-color:#441353 ;
}
#asso, #news3{
    background-color:#BD661B;
}
#con{
    background-color:#52161b ;
}
section h3{
    font-weight:600;
    text-align: center;
    position: relative;
    padding: 1.5rem;
    
}
.more section ul li:first-of-type{
    position: relative;
    margin-top: -20px;
}
.more section ul li:first-of-type::before,.more section li:first-of-type::after{
    position: absolute;
    width: 90%;
    height: 10px;
    content: "";
}
.more section ul li:first-of-type::before {
    left: 5%;
    top: 0;
    border-top: 0.1rem  solid ;
}
.more section ul{
    font-weight:600;
    padding: 0;
    background-color: inherit;
    margin: 10px 0;
    border-radius: 20px;
    height: min-content;
}

.more section ul li{
    padding: 1.1rem;
    font-size: larger;
    background-color: inherit;
    border-radius: 20px;
}
.more section ul li:hover{
    cursor: pointer;
    filter: saturate(4);
}
main h2 {
    text-align: center;
    background-color: #132d53;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    color: #fff;
    border: #222 solid 0.1rem;
}
.newscont{
    width: 75%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    background-color: rgb(19, 45, 83);
    position: relative;
}
.news {
    display: none;
    margin: 0;
}
.news.active{
    display: block;
    animation: fade 0.8s;
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.left, .right {
    background-color: #222;
    color: #fff;
}
.left:hover, .right:hover{
    cursor: pointer;
}
.left span{
    transform: rotate(90deg);
}
.right span{
    transform: rotate(-90deg);
}
.news{
    background-color: #132d53;
    border-radius: 0;
}
.news figure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding-bottom: 2rem;
}
.news figure img{
    margin: auto;
    height: 275px;
    width: 412px;
    
}
.expandnews{
    display: flex;
    position: absolute;
    bottom: 20px;
    right:100px;
    height: 30px;
    width: 50px;
    background-color: #fff;
    border-radius: 15px;
}
#infos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    text-align: left;
}
footer{
    text-align: center;
    background-color: #222;
    color: #fff;

}

